.body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color:#999;
}
.profile .section1{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 14px;
}
.jumbotron{
    margin: 50px;
}